<footer class="py-2 bg-light fixed-bottom">
    <div class="container">
        <span class="text-muted text-light">
            &copy;2024 - <a href="https://nimazare.net">@(Resources.DataDictionary.SiteAuthor)</a>
        </span>
    </div>
</footer>