@page
@model Server.Pages.ContactModel
@{
	var title = "تماس با ما";

	ViewData["Title"] = title;
}

<h3>
	@(title)
</h3>

<hr />

<div class="row">
	<div class="col">
		شماره تلفن همراه:
		<a href="tel:09351551295">٠٩٣٥١٥٥١٢٩٥</a>
		<br />
		نشانی پست الکترونیک:
		<a href="mailto:info@nimazare.net" target="_blank">info@nimazare.net</a>
		<br />
		نشانی وب‌سایت:
		<a href="https://nimazare.net" target="_blank">www.nimazare.net</a>

		<hr />
	</div>
	<div class="col">
		<h5>
			شبکه‌های اجتماعی من
		</h5>

		<ul dir="ltr">
			<li>Telegram: <a href="https://t.me/FreedomHelper/" target="_blank">https://t.me/FreedomHelper/</a></li>
			<li>GitHub: <a href="https://github.com/NimaZare" target="_blank">https://github.com/NimaZare</a></li>
			<li>Twitter: <a href="https://twitter.com/NimaZareOrg" target="_blank">https://twitter.com/NimaZareOrg</a></li>
			<li>LinkedIn: <a href="https://www.linkedin.com/in/nimazare/" target="_blank">https://www.linkedin.com/in/nimazare/</a></li>
			<li>Instagram: <a href="https://www.instagram.com/nimazareorg/" target="_blank">https://www.instagram.com/nimazareorg/</a></li>
		</ul>
	</div>
</div>

<hr />