<footer class="py-2 bg-light fixed-bottom ltr">
    <div class="container">
        <span class="text-muted text-light">
            &copy; 2024 - <a href="https://nimazare.net">www.nimazare.net</a>
        </span>
    </div>
</footer>